<h2 class="section-heading">Team</h2>
  <p>We’re just getting started — and we’re looking for curious, creative, and driven scientists to join us. If you’re excited to explore how cells sense and respond to bioelectric cues, and want to help build a collaborative, supportive lab from the ground up, <a href="#contact">get in touch</a>!</p>

  <div class="container ps-5">
    <div class="theme-block">
      <div class="theme-text">
        <h2 class="section-heading">Lab Philosophy</h2>
        <p class="roboto-mono-custom">
          We believe science thrives when people feel supported, respected, and free to share ideas.
          Our lab is committed to creating an inclusive, collaborative environment where multiple perspectives help drive innovation. We value curiosity, creativity, and teamwork — and we welcome people from all backgrounds, identities, and experiences.
        </p>
      </div>
    </div>
  </div>